<div class="container-fluid p-5">
	<h2>ALIMENTOS</h2>
	<div class="row">
		<div class="col-lg-3 pt-2">
			<input type="text" class="form-control p-1" placeholder="Buscar..">
		</div>
	</div>

	<div class="row pt-4">
		<div class="col-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title fs-6 font-bold text-center">ALCACHOFA</h5>
					<img src="/assets/img/demo/0.jpg" class="rounded mt-2 mb-2"
						style="box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);" alt="alcachofa">
					<div class="row">
						<div class="col-9">
							<a href="#" class="btn btn-primary">Ver Detalles</a>
						</div>
						<div class="col-3 favorito">
							<i class="fa-solid fa-heart fs-3"></i>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title fs-6 font-bold text-center">PALTA</h5>
					<img src="/assets/img/demo/1.jpg" class="rounded mt-2 mb-2"
						style="box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);" alt="alcachofa">
					<div class="row">
						<div class="col-9">
							<a href="#" class="btn btn-primary">Ver Detalles</a>
						</div>
						<div class="col-3 favorito">
							<i class="fa-solid fa-heart fs-3"></i>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title fs-6 font-bold text-center">FRESA</h5>
					<img src="/assets/img/demo/2.jpg" class="rounded mt-2 mb-2"
						style="box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);" alt="alcachofa">
					<div class="row">
						<div class="col-9">
							<a href="#" class="btn btn-primary">Ver Detalles</a>
						</div>
						<div class="col-3 favorito">
							<i class="fa-solid fa-heart fs-3"></i>
						</div>

					</div>
				</div>
			</div>
		</div>